recursive-include munkireport/public *
include munkireport/public/favicon.ico
recursive-include munkireport/i18n *
recursive-include munkireport/templates *
recursive-exclude munkireport .DS_Store *.pyc
